*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
.content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  width: 1140px;
  min-height: 534px;
  gap: 30px;
  margin-top: -30px;
}
.result {
  margin-top: 211px;
}
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}
.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}
.search-form__fieldset {
  border: 0;
}
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}
.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}
.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  appearance: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "Fira Sans Condensed", sans-serif;
  margin-top: 5px;
  cursor: pointer;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__textfield:focus-visible {
  /* Сделал рамку при focus-visible */
  outline: 1px #fff solid;
  outline-offset: 2px;
}
.search-form__label:has(.search-form__textfield:focus-visible) {
  border-color: #fff;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}
.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: -5px;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: #fff 1px solid;
  padding: 1px;
  margin-top: -10px;
  cursor: pointer;
}
.search-form__pseudo-checkbox::after {
  display: block;
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
  gap: 26px;
  margin-bottom: -5px;
}
.button {
  border: #fff solid 1px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: #545050;
}
.button:focus-visible {
  outline: 1px #fff solid;
  outline-offset: 2px;
}
.search-form__submit-button {
  padding: 6px 73.5px;
  text-align: center;
  align-self: flex-end;
}
.content__accent {
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 3px;
  padding-right: 3px;
}
.content__card-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.content__video-card {
  width: 390px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.content__video-card-title {
  display: block;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  flex-shrink: 0;
  width: 196px;
  gap: 6px;
  margin-bottom: 5px;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  flex-shrink: 0;
  width: 196px;
}
.content__video-card-thumbnail {
  width: 215px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}
.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.more-button {
  width: 100%;
}
.content__card-link_current {
  background: #545050;
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
